@media (prefers-color-scheme: dark) {
    :root {
        --c-vanilla-brand: #ffbf48;
        --c-dark-primary: #181818;
        --c-dark-secondary: #2d2d2d;

        --c-dark-background: #242424;
        --c-dark-text: #f0eef7;

        /* Links */
        --c-dark-aside-links: var(--c-dark-links);
        --c-dark-links: #f2efff;

        /* Aside colors*/
        --c-dark-aside-background: var(--c-dark-secondary);
        --c-dark-aside-text: #fff;
        --c-dark-aside-shadow-content: #222222cf;

        /* Code block in plan text */
        --c-dark-code-plaintext-background: #00ffff2e;
        --c-dark-code-plaintext: var(--c-vanilla-brand);

        /* Code block */
        --c-dark-code-block: #2f3438;

        /* Highlight */
        --c-dark-highlight: #4646466b;
    }

    @keyframes highlight {
        0%    { background-color: var(--c-dark-background) }
        50%   { background-color: var(--c-dark-highlight) }
        100%  { background-color: var(--c-dark-background) }
    }

    body {
        background-color: var(--c-dark-background);
        color: var(--c-dark-text);
    }

    a {
        color: var(--c-dark-links);
    }

    aside {
        color: var(--c-dark-aside-text);
        background-color: var(--c-dark-aside-background);
    }

    nav a:not(.brand):not(.button):hover,

    code.highlighter-rouge,
    div.highlighter-rouge {
        background-color: #2f3438;
    }

    pre {
        background-color: var(--c-dark-code-block);
    }

    code.language-plaintext.highlighter-rouge {
        color: var(--c-dark-code-plaintext);
    }

    tbody tr:nth-child(even) {
        background-color: #28272a;
    }

    tbody tr:hover {
        background-color: #2c2b2e;
    }

    @media (max-width: 900px) {
        aside:hover {
		    box-shadow: 0 0 70px #000000b8, 0 0 0 99rem var(--c-dark-aside-shadow-content);
	    }
    }
}
