
@media (prefers-color-scheme: dark) {
  :root {
      --c-dark-vanilla-primary: ##ffbf48;

      /* Links */
      --c-dark-aside-links: cyan;
      --c-dark-links: #f2efff;

      /* Aside colors*/
      --c-dark-aside-background: #242424;
      --c-dark-aside-text: #fff;

      /* Code block in plan text */
      --c-dark-code-plaintext-background: #00ffff2e;
      --c-dark-code-plaintext: #00ffff;

      /* Code block */
      --c-dark-code-block: #2f3438;

      /* Highlight */
      --c-dark-highlight: #4646466b;
  }

    body {
        background-color: #1d1c1e;
        color: #f0eef7;
    }

    a {
        color: var(--c-dark-links);
    }

    nav a:not(.brand):not(.button):hover,
    article p a {
        color: #00b7ff;
    }

    code.highlighter-rouge,
    div.highlighter-rouge {
        background-color: #2f3438;
    }

    pre {
        background-color: var(--c-dark-code-block);
    }

    code.language-plaintext.highlighter-rouge {
        color: var(--c-dark-code-plaintext);
    }

    tbody tr:nth-child(even) {
        background-color: #28272a;
    }

    tbody tr:hover {
        background-color: #2c2b2e;
    }

    h1.highlight,
    h2.highlight,
    h3.highlight,
    h4.highlight,
    h5.highlight,
    h6.highlight {
        background-color: var(--c-dark-highlight);
        border-radius: 4px;
    }
}
