@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&display=swap');
@import url('/assets/css/dark.css');

/* Anim */
aside {
	transition: all .2s ease-in-out;
}

/* Main */
html,body {
    height: 100%;
}

body {
	font-size: 18px;
	line-height: 30px;
	font-family: 'Work Sans', sans-serif;
	margin: 0;
	display: flex;
	overflow: hidden;
}

a {
	text-decoration: none;
	font-weight: 500;
	border-bottom: 1px dashed;
	color: #0080e5;
}

::-webkit-scrollbar {
    background: 0 0;
    height: 20px;
    width: 20px
}

::-webkit-scrollbar-track {
    border-radius: 20px;
    box-sizing: content-box;
    width: 6px;
    border: 7px solid transparent;
}

::-webkit-scrollbar-track:hover {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-clip: content-box;
    border: 7px solid transparent;
    border-radius: 20px;
    box-sizing: content-box;
    min-height: 30px;
    width: 6px;
}

::-webkit-scrollbar-thumb:window-inactive {
    background-color: #959595;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #6a6a6a;
}

/* Headings */
h1 {
	font-weight: 700;
	font-size: 40px;
}

h2 {
	font-weight: 600;
	font-size: 32px;
}

h3 {
	font-weight: 500;
	font-size: 30px;
}

h4 {
	font-weight: 500;
	font-size: 24px;
}

h5 {
	font-weight: 500;
	font-size: 20px;
}

/* Containers */
.container {
    max-width: 1020px;
    /* margin: 0 auto; */
    gap: 10px;
}

/* Main */
main {
    display: flex;
    align-items: stretch;
    gap: 40px;
    flex: 1;
}

main article {
    flex: 1;
    padding: 10px 20px;
    overflow-y: auto;
}

/* Aside */
aside {
    padding: 40px;
    top: 0;
    margin-bottom: 0;
    margin-top: 0;
    background: #242424;
    min-width: 250px;
    color: #fff;
    overflow-y: auto;
    box-shadow: 0 0 0 transparent;
    z-index: 1;
}

aside a {
    color: cyan;
}

aside ul {
    margin: 0 0 0 0;
    padding: 20px 0 20px 20px;
}

aside li a.active {
    font-weight: 700;
    color: #ffeb3b;
}

/* Code */
pre {
    background-color: #f7f7f7;
    padding: 8px 10px;
    overflow: auto;
}

pre, code {
	font-family: 'Roboto Mono', monospace;
}

/* Highlight */
.highlight {
    background-color: #fbff006b;
    border-radius: 4px;
}

/* Media Queries */
@media (max-width: 1100px) {
	main {
		flex-direction: column;
		gap: 0;
	}

	aside .summary > ul {
		display: none;
	}
	
	aside .summary > b::after {
		content: " >";
	}
	
	aside:hover .summary > b:after {
		content: " <";
	}
	
	aside:hover .summary > ul {
		display: block;
	}
	
	aside {
		max-height: 70vh;
	}
	
	aside:hover {
		box-shadow: 0 0 70px #000000b8, 0 0 0 99rem #8f8f8fcf;
	}
	pre {
		padding: 8px 10px;
		overflow: auto;
	}
}