:root {
    --c-vanilla-brand: #ffbf48;
    --c-primary: #e4e3df;
    --c-secondary: #f2f1ed;

    --c-background: #fff;

    /* Custom Colors */
    --c-text: #151c2c;
    --c-custom-yellow-9: #8d6708;

    /* Links */
    --c-aside-links: var(--c-links);
    --c-links: #001F3F;

    /* Aside colors*/
    --c-aside-background: var(--c-primary);
    --c-aside-text: #222;
    --c-aside-shadow-content: #8f8f8fcf;

    /* Code block in plan text */
    --c-code-plaintext-background: #ffbf482e;
    --c-code-plaintext: var(--c-custom-yellow-9);

    /* Code block */
    --c-code-block: var(--c-secondary);

    /* Highlight */
    --c-highlight: #fbff006b;
}

/* Anim */
aside {
	transition: all .2s ease-in-out;
}

@keyframes highlight {
    0%    { background-color: var(--c-background) }
    50%   { background-color: var(--c-highlight) }
    100%  { background-color: var(--c-background) }
}

/* Main */

body {
    color: var(--c-text);
	font-size: 18px;
	line-height: 30px;
	font-family: 'Work Sans', sans-serif;
	margin: 0;
	display: flex;
	overflow: hidden;
}

a {
	text-decoration: none;
	font-weight: 500;
	border-bottom: 2px dashed;
	color: var(--c-links);
}

::-webkit-scrollbar {
    background: 0 0;
    height: 20px;
    width: 20px
}

::-webkit-scrollbar-track {
    border-radius: 20px;
    box-sizing: content-box;
    width: 6px;
    border: 7px solid transparent;
}

::-webkit-scrollbar-track:hover {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-clip: content-box;
    border: 7px solid transparent;
    border-radius: 20px;
    box-sizing: content-box;
    min-height: 30px;
    width: 6px;
}

::-webkit-scrollbar-thumb:window-inactive {
    background-color: #959595;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #6a6a6a;
}

/* Headings */
h1 {
	font-weight: 700;
	font-size: 40px;
    line-height: 1.3;
}

h1:after {
    content: " ";
    display: block;
    height: 4px;
    width: 60px;
    margin: 10px 0;
    border-radius: 10px;
    background-color: var(--c-vanilla-brand);
}

h2 {
	font-weight: 600;
	font-size: 32px;
}

h2:after {
    content: " ";
    display: block;
    height: 4px;
    width: 40px;
    margin: 10px 0;
    border-radius: 10px;
    background-color: var(--c-vanilla-brand);
}

h3 {
	font-weight: 500;
	font-size: 30px;
}

h3:after {
    content: " ";
    display: block;
    height: 4px;
    width: 20px;
    margin: 10px 0;
    border-radius: 10px;
    background-color: var(--c-vanilla-brand);
}

h4 {
	font-weight: 500;
	font-size: 24px;
}

h5 {
	font-weight: 500;
	font-size: 20px;
}

/* Tables */
table th {
    background: var(--c-primary);
    font-weight: 600;
    padding: 5px 15px;
}

table tr:nth-child(even) {
    background: var(--c-secondary);
}

table tr:hover {
    background: var(--c-code-plaintext-background);
    color: var(--c-code-plaintext);
}

/* Containers */
.container {
    max-width: max-content;
    gap: 10px;
}

/* Main */
main {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: stretch;
    flex: 1;
}

main article {
    flex: 1;
    padding: 10px 20px 10px 60px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

/* Aside */
aside {
    top: 0;
    padding: 40px;
    margin-bottom: 0;
    margin-top: 0;
    min-width: 250px;
    color: var(--c-aside-text);
    background-color: var(--c-aside-background);
    box-shadow: 0 0 0 transparent;
    z-index: 1;
}

aside ul {
    margin: 0 0 0 0;
    padding: 20px 0 20px 20px;
}

aside li a.active {
    font-weight: 700;
    color: #ffeb3b;
}

/* Code */
pre {
    background-color: var(--c-code-block);
    padding: 8px 10px;
    overflow: auto;
}

pre, code {
	font-family: 'Roboto Mono', monospace;
}

code.language-plaintext.highlighter-rouge {
    color: var(--c-code-plaintext);
    background-color: var(--c-code-plaintext-background);
}


/* Highlight */
h1.highlight,
h2.highlight,
h3.highlight,
h4.highlight,
h5.highlight,
h6.highlight {
    animation-name: highlight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    border-radius: 9px;
}
/* Media Queries */
@media (max-width: 900px) {
	main {
		flex-direction: column;
		gap: 0;
        overflow-y: auto;
	}

    main article {
        padding: 10px 20px;
        overflow-y: initial;
    }

	aside .summary > ul {
		display: none;
	}

	aside .summary > b::after {
		content: " >";
	}

	aside:hover .summary > b:after {
		content: " <";
	}

	aside:hover .summary > ul {
		display: block;
	}

	aside {
		height: max-content;
	}

	aside:hover {
		box-shadow: 0 0 70px #000000b8, 0 0 0 99rem var(--c-aside-shadow-content);
	}

	article {
		width: initial;
	}

	pre {
		padding: 8px 10px;
		overflow: auto;
	}
}
