<!DOCTYPE html>
<html lang="en-us">
  {% include head.html %}
  <body>
    <main>
      <aside>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="https://github.com/Vanilla-OS/documentation">Source Code</a>
          </li>
          <li>
            <a href="https://vanillaos.org/">Website</a>
          </li>
        </ul>
        <div class="summary">
          <b>Summary</b>
          <ul>
              <li>Loading...</li>
          </ul>
        </div>
      </aside>
      <article>
        <div class="container">{{ content }}</div>
      </article>
    </main>
    {% include footer.html %}
  </body>
</html>
